<app-AdminDashboard></app-AdminDashboard>
<!-- <div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="loader-spinner"></div>
    <div class="loader-text">Loading, please wait...</div>
</div> -->


<div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="custom-spinner-overlay" *ngIf="loadingIndicator">
        <div class="custom-spinner-content text-center">
            <img src="assets/images/spinner.gif" alt="Loading..." />
            <p>Loading...</p>
        </div>
    </div>
</div>


<div class="row" *ngIf="InstrumentData.length > 0 ;else NoData" >
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark" [disabled]="tmpsInstrumentData.length==0">Export to
                                Excel</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3 text-start">
                            <Label class="fs-3 fw-bolder">Instruments Details</Label>
                        </div>
                    </div>
                
                    <div class="col-sm-3 text-start">
                        <!-- <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchQuery"> -->
                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text"
                        class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1" />
                    </div>
                </div>
                <ng-container *ngIf="tmpsInstrumentData.length > 0; else noRecords"> 
                    <div class="table-responsive mt-4 mb-4">
                    <table id="InstrumentDataTable" #table >
                        <thead>
                            <tr>
                                <th class="form-label ">Instrument Id</th>
                                <th class="form-label ">Instrument Name</th>
                                <!-- <th class="form-label">Image</th> -->
                                <th class="form-label ">Status</th>
                                <th class="form-label ">Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let InstrumentDataRow of getCurrentPageData(); let i = index">
                                <tr>
                                    <td class="fw-bold "> {{InstrumentDataRow.instrumentId}}</td>
                                    <td class="fw-bold "> {{InstrumentDataRow.instrumentName}}</td>
                                    <!-- <td class="fw-bold"> {{InstrumentDataRow.imageUrl}} **
                                        <ng-container *ngIf="InstrumentDataRow.imageUrl?.length > 0; else noImage">
                                            <img [src]="InstrumentDataRow.imageUrl" alt="Instrument Image" />
                                        </ng-container>
                                        <ng-template #noImage>NA</ng-template>
                                    </td> -->
                                      
                                    <!-- <td class="fw-bold ">{{InstrumentDataRow.instrumentStatus==true? '<span class='text-success'> Available </span>' : '<span class='text-danger'>Unavailable</span>' }}</td> -->
                                    <td class="fw-bold">
                                        <ng-container *ngIf="InstrumentDataRow.isActive===true; else unavailable">
                                          <span class="text-success ">Available</span>
                                        </ng-container>
                                        <ng-template #unavailable>
                                          <span class="text-danger">Unavailable</span>
                                        </ng-template>
                                      </td>
                                    <td class="fw-bold "><button class="btn btn-dark btn-sm" (click)="OpenModalWindow(InstrumentDataRow)">Change Status</button></td>
                                </tr>
                            </ng-container>
                        </tbody>
                       
                    </table>
                    <div class="pagination">
                        <a class="" (click)="prevPage()" [class.disabled]="currentPage === 1"> <i
                                class="mdi mdi-chevron-left  fs-2"> </i> </a>
                        <span class=" p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                        <a class="" (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()"><i
                                class="mdi mdi-chevron-right  fs-2"> </i></a>
                    </div>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <p class="fs-2  text-center ">No Instrument Available.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>  
<ng-template #NoData>
    <div class="text-center" >
        <h3 class="text-center fs-2 m-5  pt-5 "> No Record ! </h3>
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 text-center">
                <div class="mb-3 p-4">
                    <Label class="form-label fs-4  ">No Instrument Found.</Label>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewDescModal2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Screen </h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <table id="dataTableAllClosedRemarks" class="table">
                                <thead>
                                    <tr>
                                        <!-- <th class=" fs-5 ">User </th> -->
                                        <th class=" fs-5 ">Booking Id </th>
                                        <th class=" fs-5 ">Instrument Name </th>
                                        <th class=" fs-5 ">Upload File </th>
                                        <th class=" fs-5 ">Upload Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form >

                                    </form>
                                    <tr>
                                        <!-- <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.userEmailId != null || BookingCase.userEmailId !== 'undefined' ? BookingCase.userEmailId: 'NA' }}</td> -->
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.bookingId}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.instrumentName}} </td>
                                        <td class=" fs-5 ">
                                            <input class="w-30" required type="file" id="File" name="File"
                                                (change)="onFileSelected($event)" accept=".zip, .7z, .rar" #fileInput="ngModel"
                                                ngModel />
                                            <div class="col- mt-2"><span class=" themeClr"> Allowed Documents format Zip and of Max size 3MB </span></div>

                                        </td>
                                        <td><button type="submit" class="btn btn-primary me-2"
                                                (click)="VerifyData(BookingCase);">Upload Result</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>



<ng-template #viewDescModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Instrument Image Modify</h5>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label for="InstrumentId" class="form-label">{{this.InstrumentTitles}}</label>
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <form id="UpdateImage">
            <div class="row p-3 m-3">
  
              <div class="row mb-4">
                <div class="col-3">
                  <label for="userName" class="col-12 col-form-label">Instrument Id</label>
                  <label for="InstrumentId" class="form-label">{{this.InstrumentId}}</label>
                  
                </div>
                <div class="col-3">
                  <div class="col-12">
                  <label for="userName" class="col-12 col-form-label">Instrument Status </label>
                    <input type="checkbox" id="StatusInstrument" name="StatusInstrument"  [(ngModel)]="StatusInstrument" (change)="ChangeStatus($event)"/>
                    <div *ngIf="isForm1Submitted && form1.file.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <label for="userName" class="col-12 col-form-label">Instrument Image:</label>
                  <div class="col-12">
                    <input class="form-control" [(ngModel)]="fileNamesX" type="file" id="File" name="file"
                      (change)="onFileXSelected($event, this.InstrumentId)" accept=".png, .jpg, .jpeg" />
                    <div *ngIf="isForm1Submitted && form1.file.errors?.required" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>
                <div class="col-3 text-end">
                  <label class="col-12 col-form-label"> Action Button </label>
                  <div class="col-12"><button type="submit" [disabled]="!fileChosen[this.InstrumentId]"
                      class="btn btn-primary" (click)="UpdateFileDocument(this.InstrumentId);">Upload Image </button>
                  </div>
                  <!-- <button type="submit" style="margin-top: 27px;" [disabled]="isInputDisabled" class="btn btn-dark me-2"
                  (click)="UpdateImageData();">Submit</button> -->
  
                </div>
              </div>
              <div class="row mb-4">
  
              </div>
  
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>