<app-AdminDashboard></app-AdminDashboard>


<div *ngIf="loadingIndicator" class="fullscreen-loader d-none">
    <div class="custom-spinner-overlay" *ngIf="loadingIndicator ">
        <div class="custom-spinner-content text-center">
            <img src="assets/images/spinner.gif" alt="Loading..." />

        </div>
    </div>
</div>


<div class="row" *ngIf="InstrumentData.length > 0 ;else NoData">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark"
                                [disabled]="tmpsInstrumentData.length === 0">Export to
                                Excel</button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3 text-start">
                            <Label class="fs-3 fw-bolder">Instruments Details</Label>
                        </div>
                    </div>

                    <div class="col-sm-3 text-start">

                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text" class="form-control"
                            [disabled]="tmpsInstrumentData.length === 0" />
                    </div>
                </div>
                <!-- Top Pagination and Controls -->
                <div class="row d-flex justify-content-center align-items-center mb-3"
                    *ngIf="tmpsInstrumentData.length > 0">
                    <div class="col-md-4 text-end">
                        <span class="text-dark fs-5 fw-bolder me-4"
                            style="border:1px solid #ef7d00; padding: 8px 12px;">
                            Records: {{ getTotalRecords() }}
                        </span>
                    </div>
                    <div class="col-md-4 text-start">
                        <span class="text-dark fs-5 fw-bolder me-4"
                            style="border:1px solid #ef7d00; padding: 8px 12px;">Items per page:</span>
                        <select class="form-select d-inline-block ms-2"
                            style="width: auto; border:1px solid #ef7d00; padding: 8px 12px;"
                            [value]="isAllSelected ? 'all' : itemsPerPage" (change)="onItemsPerPageChange($event)">
                            <option *ngFor="let option of itemsPerPageOptions" [value]="option.value">
                                {{ option.label }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="pagination">
                            <a class="btn lpu-btn m-3" (click)="prevPage()"
                                [class.disabled]="currentPage === 1"> Prev
                                <!-- <i class="mdi mdi-chevron-left fs-4"></i> -->
                            </a>
                            <span class="fs-5 mt-4">{{ currentPage }} / {{ getTotalPages() }}</span>
                            <a class="btn lpu-btn m-3" (click)="nextPage()"
                                [class.disabled]="currentPage === getTotalPages()"> Next
                                <!-- <i class="mdi mdi-chevron-right fs-4"></i> -->
                            </a>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="tmpsInstrumentData.length > 0; else noRecords">
                    <div class="table-responsive mt-4 mb-4">
                        <table id="InstrumentDataTable" #table>
                            <thead>
                                <tr>
                                    <th class="form-label ">Instrument Id</th>
                                    <th class="form-label ">Instrument Name</th>
                                    <th class="form-label ">Instrument Excel Sheet</th>
                                    <th class="form-label ">Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let InstrumentDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold "> {{InstrumentDataRow.instrumentId}}</td>
                                        <td class="fw-bold "> {{InstrumentDataRow.instrumentName}}</td>
                                        <td class="fw-bold ">


                                            <button class="btn btn-secondary ms-3"
                                                (click)="onDownloadFile(this.serverUrl+InstrumentDataRow.sampleExcelSheetUrl)"
                                                [disabled]="InstrumentDataRow.sampleExcelSheetUrl<1">
                                                <i class="bi bi-download"></i>
                                            </button>
                                            <ng-template #noExcel> <span class="text-danger ms-2"> No Excel Uploaded
                                                </span>
                                            </ng-template>
                                        </td>
                                        <td class="fw-bold ">
                                            <button class="btn btn-danger btn-sm me-2"
                                                (click)="OpenModalWindow(InstrumentDataRow)">
                                                <i class="bi bi-arrow-counterclockwise"></i>
                                            </button>
                                            <button class="btn btn-warning  me-3"
                                                (click)="OpenReplaceModal(InstrumentDataRow)">
                                                <!-- Replace Excel Sheet -->

                                                <i class="bi bi-upload "></i>
                                            </button>
                                        </td>


                                    </tr>
                                </ng-container>
                            </tbody>

                        </table>
                    </div>
                    <!-- Bottom Pagination -->
                    <div class="row" *ngIf="tmpsInstrumentData.length > 0">
                        <div class="col-sm-3 pagination d-flex justify-content-center align-items-center mt-3">
                            <a class="btn lpu-btn me-3" (click)="prevPage()"
                                [class.disabled]="currentPage === 1"> Prev
                                <!-- <i class="mdi mdi-chevron-left fs-4"></i> -->
                            </a>
                            <span class="fs-5">{{ currentPage }} / {{ getTotalPages() }}</span>
                            <a class="btn lpu-btn ms-3" (click)="nextPage()"
                                [class.disabled]="currentPage === getTotalPages()"> Next
                                <!-- <i class="mdi mdi-chevron-right fs-4"></i> -->
                            </a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <p class="fs-2  text-center ">No Instrument Available.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng-template #NoData>
    <div class="text-center">
        <h3 class="text-center fs-2 m-5  pt-5 "> No Record ! </h3>
        <div class="row mt-4 mb-4">
            <div class="col-sm-12 text-center">
                <div class="mb-3 p-4">
                    <Label class="form-label fs-4  ">No Instrument Found.</Label>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewDescModal2 let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Excel Document Replace Screen </h2>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <table id="dataTableAllClosedRemarks" class="table">
                                <thead>
                                    <tr>
                                        <th class=" fs-5 ">Instrument Id </th>
                                        <th class=" fs-5 ">Instrument Name </th>
                                        <th class=" fs-5 ">Existing File </th>
                                        <th class=" fs-5 ">Upload File </th>
                                        <th class=" fs-5 ">Upload Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form>

                                    </form>
                                    <tr>
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.instrumentId}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.instrumentName}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">
                                            <button class="btn btn-secondary ms-3"
                                                (click)="onDownloadFile(this.serverUrl+BookingCase.sampleExcelSheetUrl)"
                                                [disabled]="BookingCase.sampleExcelSheetUrl<1">
                                                <i class="bi bi-download"></i>
                                            </button>

                                        </td>


                                        <td class=" fs-5 ">
                                            <input class="form-control" [(ngModel)]="fileNamesX" type="file" id="File"
                                                name="file" (change)="onFileXSelected($event, this.InstrumentId)"
                                                accept=".xls, .xlsx" />

                                            <div class="col- mt-2"><span class=" themeClr"> Allowed Documents format
                                                    XLS/XLSX
                                                    and of Max size 1MB </span></div>

                                        </td>
                                        <td><button type="submit" class="btn btn-primary me-2"
                                                (click)="VerifyData(BookingCase);">Replace Sheet</button></td>




                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" *ngIf="uploadedDataForDisplay && uploadedDataForDisplay.length > 0">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let header of uploadedDataForDisplay[0]">{{ header }}</th>
                                        <th>Error</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of uploadedDataForDisplay.slice(1); let rowIndex = index">
                                        <td *ngFor="let cell of row; let cellIndex = index"
                                            [ngClass]="{'text-danger': isError(rowIndex + 1, cellIndex)}">{{ cell }}
                                        </td>
                                        <td>
                                            <span *ngIf="validationErrors[rowIndex + 1]" class="text-danger">
                                                {{ validationErrors[rowIndex + 1] }}
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>