<section class="section ">
    <div class="container mb-4">
        <div class="heading-wraper">
            <div class="main-head d-flex align-items-center justify-content-between">
                <h2 class="mb-0">Upcoming Events</h2>

                <div class="slider-custom-nav">
                    <button class="single-prev-arrow custom-prev-arrow prev_custom-nav" (click)="prev()"
                        aria-label="Previous slide">
                        <img src="https://www.lpu.in/lpu-assets/images/icons/vector-left.svg" alt="prev" />
                    </button>

                    <button class="single-next-arrow custom-next-arrow next_custom-nav" (click)="next()"
                        aria-label="Next slide">
                        <img src="https://www.lpu.in/lpu-assets/images/icons/vector-right.svg" alt="next" />
                    </button>
                </div>
            </div>
        </div>

        <ngb-carousel #ngbCarousel [interval]="autoSlideInterval" [pauseOnHover]="true" [wrap]="true"
            [showNavigationArrows]="false" [showNavigationIndicators]="false">
            <ng-template ngbSlide *ngFor="let event of allEvents; let i = index" id="{{ 'slide-' + i }}">
                <div class="slider-item event-card mb-4 bg-dark-yellow">
                    <div class="row">
                        <div class="col-md-12 text-start">
                            <h4 class="font-primary">{{ event.eventName }}</h4>
                            <div class="misc-smfont mt-3"><b>Date:</b> {{ event.eventDate }}</div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>

    </div>
</section> 

<!-- 
<section class="section bg-dark-yellow">
    <div class="container">
        <div class="heading-wraper">
            <div class="main-head">
                <h2><span>Upcoming Events</span></h2>
            </div>
        </div>

        <div class="marquee-wrapper">
            <div class="marquee">
                <div class="event-item" *ngFor="let event of allEvents">
                    <article class="event-card">
                        <div class="event-info">
                            <strong>{{ event.eventName }}</strong>
                            <div>{{ event.eventDate }}</div>
                            <div>{{ event.eventDetails }}</div>
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>
</section> -->