# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/Zip-Build
/dist-14-July-25
/dist-15-July-25
/dist-11-7-25
/dist-03-Feb-2025
/dist-8-jan
/dist-10-jan-25
/dist-14-jan-25
/dist-15-jan-25
/dist-16-jan-25
/dist-17-jan
/dist-olds-17-jan-25
/dist-issue-bug
/.angular
/src/@swimlane/
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/environments

# profiling files
chrome-profiler-events*.json
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.7z
*.zip
*.rar
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
