<app-cif-menu-bar></app-cif-menu-bar>
<div *ngIf="loadingIndicator" class="fullscreen-loader d-none">
    <div class="loader-spinner"></div>
    <div class="loader-text">Loading, please wait...</div>
</div>
<div class="container-fluid BottomSpace" >
    <div class="row " *ngIf="BookingData.length > 0; else NoData">
        <!-- <div class="col-12 stretch-card">
            <div class="card-body">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-sm-2 text-start">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark"
                                [disabled]="tmpsBookingData.length == 0">Export to Excel</button>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="mb-1 text-start">
                            <h3 >Payment and Booking Details</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 text-start">
                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text" class="form-control"
                            style="width: 14rem;" placeholder="Search" aria-label="Search" />
                    </div>
                </div>
                <ng-container *ngIf="tmpsBookingData.length > 0; else noRecords">
                    <div class=" mt-4 mb-4 bg-info">
                        <table id="BookinglDataTable" #table >
                            <thead>
                                <tr>
                                    <th class="fw-bolder">Booking Id</th>
                                    <th class="fw-bolder">Instrument Name</th>
                                    <th class="fw-bolder">Analysis Type</th>
                                    <th class="fw-bolder">Analysis Charges</th>
                                    <th class="fw-bolder">Number of Samples</th>
                                    <th class="fw-bolder">Request Date</th>
                                    <th class="fw-bolder">Request Sheet</th>
                                    <th class="fw-bolder">Total Charges</th>
                                    <th class="fw-bolder">Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let BookingDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold">{{ BookingDataRow.id }}</td>
                                        <td class="fw-bold">{{ BookingDataRow.instrumentName }}</td>
                                        <td class="fw-bold">{{ BookingDataRow.analysisType }}</td>
                                        <td class="fw-bold">{{ BookingDataRow.analysisCharges | currency:'INR':'symbol'
                                            }}
                                        </td>
                                        <td class="fw-bold">{{ BookingDataRow.noOfSamples }}</td>
                                        <td class="fw-bold">{{ BookingDataRow.bookingRequestDate | date:'dd/MM/yyyy' }}
                                        </td>
                                        <td class="fw-bold">
                                            <ng-container *ngIf="BookingDataRow.fileName; else NoFile">
                                                <button class="btn-dark btn ms-3"
                                                    (click)="downloadFile(BookingDataRow.fileName)">View</button>
                                            </ng-container>
                                            <ng-template #NoFile>
                                                <span style="margin: auto; float: left; padding: 10px;">No Sheet
                                                    Found</span>
                                            </ng-template>
                                        </td>
                                        <td class="fw-bold">{{ BookingDataRow.totalCharges | currency:'INR':'symbol' }}
                                        </td>
                                        <ng-container *ngIf="BookingDataRow.paymentDate?.length > 0; else NoPayment">
                                            <td>
                                                <span class="badge text-bg-info ms-3 fs-5">Payment Date {{
                                                    BookingDataRow.paymentDate }}</span>
                                            </td>
                                        </ng-container>
                                        <ng-template #NoPayment>
                                            <td class="ms-4">
                                                <span class="badge text-bg-danger ms-3 fs-5 mb-4">Payment Pending</span>
                                                <button class="btn btn-dark ms-3"
                                                    (click)="openPaymentModal(BookingDataRow)">Pay Now</button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="8"></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="pagination">
                        <a class="" (click)="prevPage()" [class.disabled]="currentPage === 1">
                            <i class="mdi mdi-chevron-left fs-2"></i>
                        </a>
                        <span class="p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                        <a class="" (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()">
                            <i class="mdi mdi-chevron-right fs-2"></i>
                        </a>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <p class="fs-2 text-center">No Result Found.</p>
                </ng-template>
            </div>
        </div> -->
        <!-- <div class="col-12 stretch-card">
            <div class="card-body">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-sm-2 text-start">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark" [disabled]="tmpsBookingData.length == 0">
                                Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="mb-1 text-start">
                            <h3>Payment and Booking Details</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 text-start">
                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text" class="form-control"
                            style="width: 14rem;" placeholder="Search" aria-label="Search" />
                    </div>
                </div>
        
                <ng-container *ngIf="tmpsBookingData.length > 0; else noRecords">
                    <div class="table-responsive mt-4 mb-4 bg-info">
                        <table id="BookinglDataTable" #table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="fw-bolder">Booking Id</th>
                                    <th class="fw-bolder">Instrument Name</th>
                                    <th class="fw-bolder d-none d-md-table-cell">Analysis Type</th>
                                    <th class="fw-bolder d-none d-lg-table-cell">Analysis Charges</th>
                                    <th class="fw-bolder d-none d-lg-table-cell">Number of Samples</th>
                                    <th class="fw-bolder d-none d-xl-table-cell">Request Date</th>
                                    <th class="fw-bolder d-none d-xl-table-cell">Request Sheet</th>
                                    <th class="fw-bolder d-none d-xl-table-cell">Total Charges</th>
                                    <th class="fw-bolder d-none d-xl-table-cell">Payment Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let BookingDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold">{{ BookingDataRow.id }}</td>
                                        <td class="fw-bold">{{ BookingDataRow.instrumentName }}</td>
                                        <td class="fw-bold d-none d-md-table-cell">{{ BookingDataRow.analysisType }}</td>
                                        <td class="fw-bold d-none d-lg-table-cell">
                                            {{ BookingDataRow.analysisCharges | currency:'INR':'symbol' }}
                                        </td>
                                        <td class="fw-bold d-none d-lg-table-cell">{{ BookingDataRow.noOfSamples }}</td>
                                        <td class="fw-bold d-none d-xl-table-cell">
                                            {{ BookingDataRow.bookingRequestDate | date:'dd/MM/yyyy' }}
                                        </td>
                                        <td class="fw-bold d-none d-xl-table-cell">
                                            <ng-container *ngIf="BookingDataRow.fileName; else NoFile">
                                                <button class="btn-dark btn ms-3"
                                                    (click)="downloadFile(BookingDataRow.fileName)">View</button>
                                            </ng-container>
                                            <ng-template #NoFile>
                                                <span>No Sheet Found</span>
                                            </ng-template>
                                        </td>
                                        <td class="fw-bold d-none d-xl-table-cell">
                                            {{ BookingDataRow.totalCharges | currency:'INR':'symbol' }}
                                        </td>
                                        <td class="d-none d-xl-table-cell">
                                            <ng-container *ngIf="BookingDataRow.paymentDate?.length > 0; else NoPayment">
                                                <span class="badge text-bg-info">Payment Date {{ BookingDataRow.paymentDate }}</span>
                                            </ng-container>
                                            <ng-template #NoPayment>
                                                <span class="badge text-bg-danger">Payment Pending</span>
                                                <button class="btn btn-dark" (click)="openPaymentModal(BookingDataRow)">Pay Now</button>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <a (click)="prevPage()" [class.disabled]="currentPage === 1">
                            <i class="mdi mdi-chevron-left fs-2"></i>
                        </a>
                        <span class="p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                        <a (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()">
                            <i class="mdi mdi-chevron-right fs-2"></i>
                        </a>
                    </div>
                </ng-container>
        
                <ng-template #noRecords>
                    <p class="fs-2 text-center">No Result Found.</p>
                </ng-template>
            </div>
        </div> -->
        
        <div class="col-12 stretch-card">
            <div class="card-body">
                <div class="row mt-2 d-flex justify-content-center">
                    <div class="col-sm-2 text-start">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark" [disabled]="tmpsBookingData.length == 0">
                                Export to Excel
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="mb-1 text-start">
                            <h3>Payment and Booking Details</h3>
                        </div>
                    </div>
                    <div class="col-sm-3 text-start">
                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text" class="form-control"
                            style="width: 14rem;" placeholder="Search" aria-label="Search" />
                    </div>
                </div>
        
                <ng-container *ngIf="tmpsBookingData.length > 0; else noRecords">
                    <div class="table-responsive mt-4 mb-4 ">
                        <table id="BookinglDataTable" #table  >
                            <thead>
                                <tr>
                                    <th class="form-label d-none d-md-table-cell">Booking Id</th>
                                    <th class="form-label d-none d-md-table-cell">Instrument Name</th>
                                    <th class="form-label d-none d-lg-table-cell">Analysis Type</th>
                                    <th class="form-label d-none d-lg-table-cell">Analysis Charges</th>
                                    <th class="form-label d-none d-lg-table-cell">Number of Samples</th>
                                    <th class="form-label d-none d-lg-table-cell">Request Date</th>
                                    <th class="form-label d-none d-lg-table-cell">Request Sheet</th>
                                    <th class="form-label">Total Charges</th>
                                    <th class="form-label">Payment Status</th>
                                    <th class="form-label">Sample Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let BookingDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold d-none d-md-table-cell">{{ BookingDataRow.id }}</td>
                                        <td class="fw-bold d-none d-md-table-cell">{{ BookingDataRow.instrumentName }}</td>
                                        <td class="fw-bold d-none d-lg-table-cell">{{ BookingDataRow.analysisType }}</td>
                                        <td class="fw-bold d-none d-lg-table-cell">
                                            {{ BookingDataRow.analysisCharges | currency:'INR':'symbol' }}
                                        </td>
                                        <td class="fw-bold d-none d-lg-table-cell">{{ BookingDataRow.noOfSamples }}</td>
                                        <td class="fw-bold d-none d-lg-table-cell">
                                            {{ BookingDataRow.bookingRequestDate | date:'dd/MM/yyyy' }}
                                        </td>
                                        <td class="fw-bold d-none d-lg-table-cell">
                                            <ng-container *ngIf="BookingDataRow.fileName; else NoFile">
                                                <button class="btn-dark btn ms-3"
                                                    (click)="downloadFile(BookingDataRow.fileName)">View</button>
                                            </ng-container>
                                            <ng-template #NoFile>
                                                <span>No Sheet Found</span>
                                            </ng-template>
                                        </td>
                                        <td class="fw-bold">{{ BookingDataRow.totalCharges | currency:'INR':'symbol' }}</td>
                                        <td>
                                            <ng-container *ngIf="BookingDataRow.paymentDate?.length > 0; else NoPayment">
                                                <span class="badge text-bg-info">Payment Date {{ BookingDataRow.paymentDate }}</span>
                                            </ng-container>
                                            <ng-template #NoPayment>
                                                <span class="badge text-bg-info mb-3">Payment Pending</span> <br/>
                                                <button class="btn btn-dark" (click)="openPaymentModal(BookingDataRow)">Pay Now</button>
                                            </ng-template>
                                        </td>
                                            <td><button type="submit" class="btn btn-dark me-2"
                                                (click)="GetStatus(BookingDataRow);">Check Sample Status</button></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <a (click)="prevPage()" [class.disabled]="currentPage === 1">
                            <i class="mdi mdi-chevron-left fs-2"></i>
                        </a>
                        <span class="p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                        <a (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()">
                            <i class="mdi mdi-chevron-right fs-2"></i>
                        </a>
                    </div>
                </ng-container>
        
                <ng-template #noRecords>
                    <p class="fs-2 text-center">No Result Found.</p>
                </ng-template>
            </div>
        </div>
        
    </div>
    <ng-template #NoData>
        <div class="text-center  p-2 mb-4 vh-100">
            <div class="row mt-4 mb-4 rounded border border-primary">
                <h3 class="fs-2 pt-5">No Record!</h3>
                <div class="col-sm-12 text-center">
                    <div class="mb-3 p-4 mb-5 mt-5">
                        <h3 class="fs-3 fw-bolder" style="color: #ef7d00 !important;">No Booking Found.</h3>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<ng-template #viewDescModal2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Screen </h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <table id="dataTableAllClosedRemarks" #table>
                                <thead>
                                    <tr>
                                        <th class="form-label">Booking Id</th>
                                        <th class="form-label">Instrument Name </th>
                                        <th class="form-label">Analysis Name</th>
                                        <th class="form-label">Samples Requested </th>
                                        <th class="form-label">Total Amount </th>
                                        <th class="form-label">Pay Now </th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class=" p-4 " style="width: 20%;">{{BookingCase.id}} </td>
                                        <td class=" p-4 " style="width: 20%;">{{BookingCase.instrumentName}} </td>
                                        <td class=" ">{{BookingCase.analysisType}} </td>
                                        <td class=" ">{{BookingCase.noOfSamples}} </td>
                                        <td class=" ">{{BookingCase.totalCharges | currency:'INR':'symbol'}} </td>
                                        <td><button type="submit" class="btn btn-dark me-2"
                                                (click)="VerifyData(BookingCase);">Confirm and Pay</button></td>
                                       
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>







<ng-template #ViewUpdateStatusModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title fs-2" id="exampleModalLabel">Sample Status</h2>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row mb-4" *ngIf="SampleStatusData && SampleStatusData.length > 0; else NoSampleData">
              <div class="col-sm">
                <table id="dataTableAllClosedRemarks" class="table">
                  <thead>
                    <tr>
                      <th class="fs-5 text-dark">Booking Id</th>
                      <th class="fs-5 text-dark">Instrument Id</th>
                      <th class="fs-5 text-dark">Sample Condition</th>
                      <th class="fs-5 text-dark">Received on</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].bookingId}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].instrumentId}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].sampleCondition}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].receivedOn}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #NoSampleData>
              <div class="text-center p-2 mb-4 vh-100">
                <div class="row mt-4 mb-4 rounded border border-primary">
                  <h3 class="fs-2 pt-5">No Record!</h3>
                  <div class="col-sm-12 text-center">
                    <div class="mb-3 p-4 mb-5 mt-5">
                      <h3 class="fs-3 fw-bolder" style="color: #ef7d00 !important;">No Status Updates Found</h3>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  
<!-- 
<ng-template #ViewUpdateStatusModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title fs-2" id="exampleModalLabel">Sample Status</h2>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="row mb-4" *ngIf="SampleStatusData?.length>0; else NoSampleData">
              <div class="col-sm">
                <table id="dataTableAllClosedRemarks" class="table">
                  <thead>
                    <tr>
                      <th class="fs-5 text-dark">Booking Id</th>
                      <th class="fs-5 text-dark">Instrument Id</th>
                      <th class="fs-5 text-dark">Sample Condition</th>
                      <th class="fs-5 text-dark">Received on</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].bookingId}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].instrumentId}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].sampleCondition}}</td>
                      <td class="fs-5 p-4" style="width: 20%;">{{SampleStatusData[0].receivedOn}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <ng-template #NoSampleData>
                <div class="text-center  p-2 mb-4 vh-100">
                    <div class="row mt-4 mb-4 rounded border border-primary">
                        <h3 class="fs-2 pt-5">No Record!</h3>
                        <div class="col-sm-12 text-center">
                            <div class="mb-3 p-4 mb-5 mt-5">
                                <h3 class="fs-3 fw-bolder" style="color: #ef7d00 !important;">No Status Updates Found</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
   -->