<app-AdminDashboard></app-AdminDashboard>
<!-- <div *ngIf="loadingIndicator" class="fullscreen-loader">
  <div class="loader-spinner"></div>
  <div class="loader-text">Loading, please wait...</div>
</div> -->



<div *ngIf="loadingIndicator" class="fullscreen-loader">
  <div class="custom-spinner-overlay" *ngIf="loadingIndicator">
    <div class="custom-spinner-content text-center">
      <img src="assets/images/spinner.gif" alt="Loading..." />
     <!-- <p>Loading...</p>-->
    </div>
  </div>
</div>

<!-- <section class="section bg-dark-yellow">
  <div class="container">
    <div class="heading-wraper">
      <div class="main-head">
        <h2>Events & Happenings</h2>
        <div class="inner-testi-slider-nav">
          <button id="prev_event_slide" class="inner-testi-prev-arrow" (click)="carousel.prev()">
            <img src="https://www.lpu.in/lpu-assets/images/icons/vector-left.svg" />
          </button>
          <button id="next_event_slide" class="inner-testi-next-arrow" (click)="carousel.next()">
            <img src="https://www.lpu.in/lpu-assets/images/icons/vector-right.svg" />
          </button>
        </div>
      </div>
    </div>

    <ngb-carousel #carousel [interval]="66000" [pauseOnHover]="true" [showNavigationArrows]="false"
      [showNavigationIndicators]="true">
      <ng-template ngbSlide *ngFor="let group of chunkedEvents">
        <div class="row text-center">
          <div class="col-md-4" *ngFor="let event of group">
            <img [src]="this.serverUrl + event.imageUrl" [alt]="event.eventName" class="img-fluid" />
            <div class="mt-4 mb-2">
              <strong class="d-block">{{ event.eventName }}</strong>
              {{ event.eventDate }}
            </div>
            <div class="mt-1 p-2">
              {{ event.eventDetails }}
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>

  </div>
</section> -->

<app-UpcomingEvents></app-UpcomingEvents>
<section class="section bg-dark-yellow py-5">
  <div class="container">
    <div class="card shadow-sm rounded-3 border-0">
      <div class="card-body px-5 py-4">
        <h2 class="text-center mb-4 fw-bold text-primary">New Event(s) Upload Page</h2>

        <form [formGroup]="CIFEventRegistration" (ngSubmit)="Onsubmit()" class="forms-sample" novalidate>
          <fieldset class="border p-3 mb-4">
            <legend class="w-auto px-2">Event Details</legend>
            <div class="row g-4 mb-4">
              <div class="col-md-4">
                <label class="form-label">Event Name <span class="text-danger">*</span></label>
                <input type="text" id="EventName" formControlName="EventName" class="form-control"
                  placeholder="Enter Event Name"
                  [ngClass]="{'is-invalid': form1['EventName'].invalid && (form1['EventName'].touched || isForm1Submitted)}" />
                <div *ngIf="form1['EventName'].invalid && (form1['EventName'].touched || isForm1Submitted)"
                  class="text-danger">
                  Please enter a valid Event Name.
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label">Event Date <span class="text-danger">*</span></label>
                <input type="date" id="EventDate" formControlName="EventDate" class="form-control"
                  placeholder="Enter Event Date"
                  [ngClass]="{'is-invalid': form1['EventDate'].invalid && (form1['EventDate'].touched || isForm1Submitted)}" />
                <div *ngIf="form1['EventDate'].invalid && (form1['EventDate'].touched || isForm1Submitted)"
                  class="text-danger">
                  Please enter a valid Event Date.
                </div>
              </div>

              <div class="col-md-4">
                <label class="form-label">Event Details <span class="text-danger">*</span></label>
                <textarea id="EventDetails" formControlName="EventDetails" class="form-control" rows="4"
                  placeholder="Enter event details"
                  [ngClass]="{'is-invalid': form1['EventDetails'].invalid && (form1['EventDetails'].touched || isForm1Submitted)}"></textarea>
                <div *ngIf="form1['EventDetails'].invalid && (form1['EventDetails'].touched || isForm1Submitted)"
                  class="text-danger">
                  Please enter valid Event Details.
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="border p-3 mb-4">
            <legend class="w-auto px-2">Image</legend>
            <div class="row g-4 mb-4">
              <div class="col-md-4">
                <input type="file" name="ImageUrl" id="ImageUrl" class="form-control"
                  (change)="onFileSelectedConsentLetter($event)"
                  [ngClass]="{'is-invalid': form1['ImageUrl'].invalid && (form1['ImageUrl'].touched || isForm1Submitted)}" />

              </div>
            </div>
          </fieldset>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary px-5" [disabled]="CIFEventRegistration.invalid || isLoading">
              {{ isLoading ? 'Submitting...' : 'Submit' }}
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>