<!-- Old logic -->
<!-- <section class="section" id="NewRegsiterPage" *ngIf="isLoginFailed==false; else ErrorApplication">
  <div class="container-fluid">
    <div class="heading-wrapper mb-5 text-center">
      <h1 class="display-5">Central Instrumentation Facility - Staff Login</h1>
    </div>
    <div class="row">
      <div class="col-md-6 d-none d-lg-block">
        <img src="https://www.lpu.in/lpu-assets/images/cif/login-left.png" class="img-fluid" alt="Login Image" />
      </div>
      <div class="col-md-6 login-div">
        <div class="container-fluid">
          <form class="forms-sample" [formGroup]="formdata" (ngSubmit)="OnSubmit()">
            <div class="mb-4 cif-input-group">
              <label class="form-label" for="loginid">Login ID</label>
              <input type="text" class="form-control" placeholder="Enter Login ID/ Email" formControlName="Email" id="loginid" required />
              <div *ngIf="submitted || email?.touched || email?.errors" class="text-danger">
                <small *ngIf="email?.errors?.['required']">User  ID is required.</small>
              </div>
            </div>

            <div class="mb-4 cif-input-group">
              <label class="form-label" for="password">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter password" formControlName="password" id="password" required />
              <i class="input-eye input-eye-slash" (click)="togglePasswordVisibility()"></i>
              <div *ngIf="submitted || passwordText?.touched || passwordText?.errors" class="text-danger">
                <small *ngIf="passwordText?.errors?.['required']">Password is required.</small>
              </div>
            </div>
            <div class="">
              <button type="submit" class="btn btn-primary me-2 mb-2" [disabled]="formdata.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #ErrorApplication>
  <div class="heading-wrapper m-5 text-center">
    <h1 class="display-5">Central Instrumentation Facility - Staff Login</h1>
  </div>
  <div class="text-center PagePadding" *ngIf="isLoginFailed">
      <h3 class="text-center fs-2 m-5 text-danger pt-5 "> Error in User Login . </h3>
      <div class="row mt-4 mb-4">
          <div class="col-sm-12 text-center">
              <div class="mb-3 p-4">
                  <Label class="form-label fs-4 text-danger ">Unauthorise Access.</Label>
              </div>
          </div>
      </div>
  </div>
</ng-template> -->


<!-- New Logic -->
<section class="section">
  <div class="container-fluid">
    <div class="heading-wrapper mb-5 text-center">
      <h1 class="display-5">Central Instrumentation Facility - Staff Login</h1>
    </div>
    <div class="row">
      <div class="col-md-6 d-none d-lg-block">
        <img src="https://www.lpu.in/lpu-assets/images/cif/login-left.png" class="img-fluid" alt="Login Image" />
      </div>
      <div class="col-md-6 login-div">
        <div class="container-fluid">
          <form class="forms-sample" [formGroup]="formdata" (ngSubmit)="OnSubmit()">
            <div class="mb-4 cif-input-group">
              <label class="form-label" for="loginid">Login ID</label>
              <input type="text" class="form-control" placeholder="Enter Login ID/ Email" formControlName="Email" id="loginid" required />
              <div *ngIf="submitted || email?.touched || email?.errors" class="text-danger">
                <small *ngIf="email?.errors?.['required']">User  ID is required.</small>
              </div>
            </div>

            <div class="mb-4 cif-input-group">
              <label class="form-label" for="password">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter password" formControlName="password" id="password" required />
              <i class="input-eye input-eye-slash" (click)="togglePasswordVisibility()"></i>
              <div *ngIf="submitted || passwordText?.touched || passwordText?.errors" class="text-danger">
                <small *ngIf="passwordText?.errors?.['required']">Password is required.</small>
              </div>
            </div>
            <div class="mb-2 mt-2">
              <label class="box announcement-bar" *ngIf="ErrMessage.length>0">{{this.ErrMessage}}</label>
            </div>
            <div class="mt-2 mb-3">
              <button type="submit" class="btn btn-primary me-2 mb-2" [disabled]="formdata.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>