<app-HomePageTopBar (facilitiesClicked)="gotoFacilities()"></app-HomePageTopBar>

<section class="section">
    <div class="container">
        <div class="heading-wraper mb-4">
            <div class="main-head">
                <h1>About the Instruments </h1>
                <div class="call-action gap-3">
                    <a (click)="goto('/Home')" class="link-btn">
                        <img src="https://www.lpu.in/lpu-assets/images/icons/chevron-right.svg" alt="Icon">Home Page</a>
                </div>
            </div>
        </div>
        <p>
            CIF of Lovely Professional University is equipped with sophisticated instruments to carry out spectral
            measurements, structure determination and chemical analysis. Click on the instrument name in the
            following table to view their description.
        </p>

        <div class="instrument-grid" id="instrumentGrid">
            <div class="instrument-block g-col-lg-3 g-col-6 d-grid"
                *ngFor="let instrument of tmpscifInstrumentsDataData"
                [ngClass]="{'selected-instrument': (instrument.id == this.InstrumentId) || (instrument.instrumentId == this.InstrumentId)}">
                <a class="instrument-link" href="javascript:void(0)"
                    (click)="fetchSpecifications(instrument.categoryId, instrument.id || instrument.instrumentId); $event.preventDefault()"
                    [attr.data-is-active]="instrument.isActive ? 'true' : 'false'">
                    {{instrument.instrumentName}}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section bg-dark-yellow" *ngIf="InstrumentId != null" id="DetailsSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-wraper mb-4">
                    <div class="main-head align-items-start">
                        <h2 id="InstrumentName">{{ instrumentName }}</h2>
                        <div class="call-action gap-3">
                            <!-- <a class="lpu-btn mr-2" (click)="openChargesModal(InstrumentId)">Charges</a> -->
                            <a routerLink="/Login" class="lpu-btn">Login/Register</a>
                        </div>
                        <div class="call-action gap-3 d-none">
                            <div *ngIf="isInstrumentActive"
                                [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}"
                                class="alert" id="InstrumentStatus">
                                <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive'
                                    }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="instrumentStatus"
                    [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}" class="alert"
                    id="InstrumentStatus">
                    <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive' }}</strong>
                </div>
                <div class="mb-5">
                    <img [src]="ImageUrl" alt="Instrument Image" class="ImageSizes" />
                </div>
                <p [innerHTML]="Description" style="text-align: justify;"></p>
            </div>
            <div class="col-lg-3">
                <div class="section-light-red p-3"  *ngIf="specifications.length>0">
                    <h4 class="font-primary white mb-3">Specifications:</h4>
                    <ul class="specifications lpu-list white" id="specificationsList">
                        <li *ngFor="let spec of specifications">
                            <strong class="d-block">{{ spec.keyName }}:</strong> {{ spec.keyValue }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section bg-dark-yellow d-none" #facilitiesSection>
    <div class="container">
        <div class="heading-wraper mb-4">
            <div class="main-head">
                <h2 id="CIF_Facilities">Facilities</h2>
                <div class="call-action">
                    <a (click)="goto('/ourInstruments')" class="link-btn">
                        <img src="https://www.lpu.in/lpu-assets/images/icons/chevron-right.svg" alt="Icon">Know
                        more</a>
                </div>
            </div>

            <p>CIF of Lovely Professional University is equipped with sophisticated instruments to carry out
                spectral
                measurements, structure determination and chemical analysis. Click on the instrument name in the
                following table to view their description.</p>
        </div>
        <div class="row cif-facilties">
            <div class="col-md-3" *ngFor="let InstrumentData of tmpsInstrumentsDataData; let i = index"
                [attr.data-index]="i">
                <div class="mb-4">

                    <div *ngIf="loadingStates[i]"
                        class="spinner-border text-primary position-absolute top-50 start-50 translate-middle"
                        role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <img [src]="InstrumentData.imageUrl" alt="{{InstrumentData.instrumentName}}" class="img-fluid"
                        loading="lazy" (load)="onImageLoad(i)" (error)="onImageError($event, i)" />
                </div>
                <div class="mb-5">
                    <a (click)="VisitUrl('/ourInstruments',InstrumentData.instrumentName.slice(0,tmpsInstrumentsDataData.length), InstrumentData.id, InstrumentData.categoryId); $event.preventDefault()"
                        [attr.data-is-active]="InstrumentData.isActive ? 'true' : 'false'">
                        {{InstrumentData.instrumentName}}
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section ">
    <div class="container">
        <div class="heading-wraper mb-4">
            <h2>FAQs</h2>
        </div>

        <div class="accordion-container">
            <div *ngFor="let faq of faqs" class="accordion-item">
                <div class="accordion-header" (click)="toggleAccordion(faq)">
                    <div class="accordion-title">{{ faq.question }}</div>
                    <i class="accordion-icon" [class.icon-minus]="faq.isOpen" [class.icon-plus]="!faq.isOpen">
                    </i>
                </div>

                <div class="accordion-body" *ngIf="faq.isOpen" [@slideInOut]>
                    <div [innerHTML]="faq.answer"></div>
                </div>
            </div>
        </div>
    </div>
</section>





<ng-template #chargesModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Instrument Charges </h3>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <button type="submit" (click)="navigateToLogin()" class="lpu-btn me-2">Book Test</button>
        <!-- <div class="col-md-12 grid-margin stretch-card"> -->
        <!-- <div class="col-sm"> -->
        <table id="dataTableAllClosedRemarks" #table class="table table-responsive">
            <thead>
                <tr>
                    <td class=" fs-5 fw-bold">User Category </td>
                    <td class=" fs-5 fw-bold">Analysis Name</td>
                    <td class=" fs-5 fw-bold">Charges </td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Data of cifInstrumentsCharges">
                    <ng-container *ngIf="Data.orgTypeId == 1; else ExternalUser">
                        <td>
                            <span class="ms-3  mb-4">External User
                            </span>
                        </td>
                    </ng-container>
                    <ng-template #ExternalUser>
                        <ng-container *ngIf="Data.orgTypeId == 2; else IndustryUser">
                            <td>
                                <span class=" ms-3 mb-4"> LPU User</span>
                            </td>
                        </ng-container>
                    </ng-template>
                    <ng-template #IndustryUser>
                        <td>
                            <span class="ms-3  mb-4">Industry Users</span>
                        </td>
                    </ng-template>
                    <td class="  ">{{Data.sampleText}} </td>
                    <td class=" ">{{Data.price | currency:'INR':'symbol'}} </td>

                </tr>
            </tbody>
        </table>
        <!-- </div> -->
        <!-- </div> -->
    </div>
</ng-template>