
<div class="click-to-call-container">
    <h1 class="seo-tags">Top Private University in India</h1>
    <!-- Button trigger modal -->
    <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#click-to-call">
        Click to Call
    </a>

    <!-- Modal -->
    <div class="modal fade click-to-call" id="click-to-call" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="click-to-call" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h1 class="modal-title fs-5" id="click-to-call">Modal title</h1> -->
                    <ul class="click-call-tab nav nav-pills" id="click-to-call-tab" role="tablist">
                        <li id="ctc-make">
                            <a class="active" id="call-now-tab" data-bs-toggle="pill" data-bs-target="#call-now"
                                role="tab" aria-controls="call-now" aria-selected="true">
                                <span><img src="https://lpuweb.lpu.in/new.lpu.in/lpu-assets/images/click-call/call-now.svg" /></span>
                                Connect Now
                            </a>
                        </li>
                        <li>
                            <a id="call-us-later-tab" data-bs-toggle="pill" data-bs-target="#call-us-later" role="tab"
                                aria-controls="call-us-later" aria-selected="false">
                                <span><img src="https://lpuweb.lpu.in/new.lpu.in/lpu-assets/images/click-call/call-us-later-light.svg  " /></span>
                                Connect later
                            </a>
                        </li>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <div class="tab-content click-to-call-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="call-now" role="tabpanel"
                            aria-labelledby="call-now-tab" tabindex="0">
                            <div class="call-now-grid">
                                <h2>
                                    Talk to an Admissions Advisor now—your call starts in 10 seconds!
                                </h2>
                                <div class="input-group border rounded mt-3 px-1 py-1">
                                    <span class="input-group-text border-0 pe-2">
                                        <img src="https://lpuweb.lpu.in/new.lpu.in/lpu-assets/images/click-call/call-now.svg " alt="Call Icon" />
                                    </span>
                                    <span class="input-group-text border-0 p-0 ps-1 pe-3">+91</span>
                                    <input id="callphone" type="tel" class="form-control border-0 shadow-none"
                                        placeholder="Enter phone number" maxlength="10" />
                                </div>
                                <p class="content-normal">
                                    You would get call from number starting with +911824
                                    shortly, kindly wait for few seconds after accepting the
                                    call to talk to our counsellor.
                                </p>
                                <p class="content-highlight">
                                    Counsellors available from<br />
                                    8.00 A.M to 8.00 P.M
                                </p>
                            </div>
                            <div class="modal-innr-footer">
                                <input type="button" id="make-call" class="office-details-btn-reverse" value="Call me now" />
                                <!-- <a href="#" id="make-call" class="office-details-btn-reverse">Call me now</a> -->
                            </div>
                        </div>
                        <div class="tab-pane fade" id="call-us-later" role="tabpanel"
                            aria-labelledby="call-us-later-tab" tabindex="0">
                            <div class="call-us-later-grid">
                                <h2>Schedule a Call</h2>
                                <p class="content-normal">
                                    You’ll get a call from +911824-XXXXXX at your scheduled time. Please wait a few seconds to connect
                                </p>
                                <p class="content-highlight">
                                    Counsellors available from<br />
                                    8.00 A.M to 8.00 P.M
                                </p>
                                <div class="row g-3 align-items-center mt-2">
                                    <div class="col-md-4 d-none d-md-block d-lg-block">
                                        <label for="name">Name</label>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <input type="text" id="name" class="form-control"
                                            placeholder="Enter your name" />
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center mt-2">
                                    <div class="col-md-4 d-none d-md-block d-lg-block">
                                        <label for="mobileNumber">Mobile Number</label>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <input type="text" id="mobileNumber" class="form-control"
                                            placeholder="Enter phone number"  maxlength="10" />
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center mt-2">
                                    <div class="col-md-4 d-none d-md-block d-lg-block">
                                        <label for="programmeInterested ">Programme Interested
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <input type="text" id="programmeInterested" class="form-control"
                                            placeholder="Enter programme interested" />
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center mt-2">
                                    <div class="col-md-4 d-none d-md-block d-lg-block">
                                        <label for="date">Select Date</label>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <!-- <input type="text" id="dateSelect" class="form-control" placeholder="Select date"> -->
                                        <select id="dateSelect" class="form-control">
                                            <option value="" selected>Select Date</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row g-3 align-items-center mt-2">
                                    <div class="col-md-4 d-none d-md-block d-lg-block">
                                        <label for="time">Select Time</label>
                                    </div>
                                    <div class="col-md-8 col-12 timep bootstrap-timepicker">
                                        <!-- <input type="text" id="timeSelect" class="form-control" placeholder="Select time"> -->
                                        <input type="text" id="timeInput" class="form-control"
                                            placeholder="Select time" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-innr-footer">
                                <input type="button" id="schedule-call" class="office-details-btn-reverse" value="Schedule Call">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

