<app-cif-menu-bar></app-cif-menu-bar>
<div *ngIf="loadingIndicator" class="fullscreen-loader d-none">
  <div class="loader-spinner"></div>
  <div class="loader-text">Loading, please wait...</div>
</div>

<div class="container BottomSpace">
  <div class="row">
    <div class="col-12 ">
      <div class="card-body">
        <hr />
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-6">
              <label for="ProofNameText" class=" fw-bolder"> Your <span class="text-danger">{{this.ProofName}}
                </span> Number </label>
              <input id="ProofNameText" type="password" formControlName="ProofNameText" required>
              <div *ngIf="f.ProofNameText?.invalid && (f.ProofNameText?.touched || f.ProofNameText?.dirty)">
                <small *ngIf="f.ProofNameText?.hasError('required')">Proof Name is required</small>
                <small *ngIf="f.ProofNameText?.hasError('minlength')">Minimum 5 characters required</small>
              </div>
            </div>
            <div class="form-group col-6">
              <label for="currentPassword" class=" fw-bolder">Current Password</label>
              <input id="currentPassword" type="password" formControlName="currentPassword" required>
              <div *ngIf="f.currentPassword?.invalid && (f.currentPassword?.touched || f.currentPassword?.dirty)">
                <small *ngIf="f.currentPassword?.hasError('required')">Current password is required</small>
                <small *ngIf="f.currentPassword?.hasError('minlength')">Minimum 8 characters required</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="newPassword" class=" fw-bolder">New Password</label>
              <input id="newPassword" type="password" formControlName="newPassword" required>
              <div *ngIf="f.newPassword?.invalid && (f.newPassword?.touched || f.newPassword?.dirty)">
                <small *ngIf="f.newPassword?.hasError('required')">New password is required</small>
                <small *ngIf="f.newPassword?.hasError('minlength')">Minimum 8 characters required</small>
              </div>
            </div>

            <div class="form-group col-6">
              <label for="confirmPassword" class=" fw-bolder">Confirm Password</label>
              <input id="confirmPassword" type="password" formControlName="confirmPassword" required>
              <div *ngIf="f.confirmPassword?.invalid && (f.confirmPassword?.touched || f.confirmPassword?.dirty)">
                <small *ngIf="f.confirmPassword?.hasError('required')">Confirm password is required</small>
                <small *ngIf="changePasswordForm.errors?.mismatch">Passwords do not match</small>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
        </form>

      </div>
    </div>
  </div>
</div>