<nav class="navbar navbar-light navbar-expand-lg mb-4">
  <div class="container-fluid">
    <button class="navbar-toggler bg-light" type="button" (click)="toggleNavbar()" aria-controls="navbarNav"
      [attr.aria-expanded]="isNavbarCollapsed ? 'false' : 'true'" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true, 'justify-content-center': true}"
      id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 bg-transparent">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="manageTestsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span style="border-bottom:1px solid #ef7d00;"> Tests & Results </span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="manageTestsDropdown">
            <li><a class="dropdown-item" (click)="goto('AssignTestCifA')">Assign Test</a></li>
            <li><a class="dropdown-item" (click)="goto('ViewBookingsAdmins')">Upload Results</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="manageUserDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            User & Payments
          </a>
          <ul class="dropdown-menu" aria-labelledby="manageUserDropdown">
            <li><a class="dropdown-item" (click)="goto('PendingPaymentsA')">All Payments</a></li>
            <li><a class="dropdown-item" (click)="goto('UserDetail')">All User</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="manageUserDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Instruments
          </a>
          <ul class="dropdown-menu" aria-labelledby="manageUserDropdown">
            <a class="dropdown-item" (click)="goto('AdminInstrumentAction')">Change State</a>
            <a class="dropdown-item" (click)="goto('AdminUploadImage')">Upload Image</a>

            <!-- <li><a class="nav-link" >Edit Details</a></li>  -->
            <!-- (click)="goto('#')" -->
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="manageUserDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Sample & Feedback
          </a>
          <ul class="dropdown-menu" aria-labelledby="manageUserDropdown">
            <a class="dropdown-item" (click)="goto('SampleStatusAdmin')">Update Sample Status</a>
            <a class="dropdown-item" (click)="goto('UserFeedbackdetails')">User Feedbacks</a>
          </ul>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" id="manageUserDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            CIF Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="manageUserDropdown">
            <a class="dropdown-item" (click)="goto('AllCIFEvents')">All Events</a>
            <a class="dropdown-item" (click)="goto('EventUploads')">Add New</a>
            <a class="dropdown-item" (click)="goto('EventCrud')">All Events</a>
          </ul>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" (click)="LogoutUser()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="mx-auto mt-4 mb-4 text-start">
    <h1 class="mb-0">Central Instrumentation Facility Admin Panel </h1>
  </div>
</div>
<div class="container-fluid  mt-4 ">
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-around">
            <label class="col-md-6 form-label " style="font-weight: 700;">Candidate Name
            </label>
            <label class="col-md-6 form-label text-dark  "
              style="text-align: right; font-weight: 700;">{{this.candidateName}} </label>
          </div>
          <div class="row d-flex justify-content-around">
            <label class="col-md-6 form-label " style="font-weight: 700;">Department Code
            </label>
            <label class="col-md-6 form-label text-dark  "
              style="text-align: right; font-weight: 700;">{{this.supervisorName?.length>4 ? this.supervisorName : 'N/A'
              }} </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin ">
      <div class="card">
        <div class="card-body">
          <h3 class="text-success text-center mt-1 mb-4 ">CIF Admin Dashboard </h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row d-flex justify-content-around">
            <label class="col-md-5 form-label  " style="font-weight: 700;">Department
              Name</label>
            <label class="col-md-7 form-label text-dark " style="text-align: right;font-weight: 700;">
              {{this.departmentName}}
            </label>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>