


<section class="section p-0 bg-dark-yellow">
<div class="container mt-5 mb-5">
    <div class="card-body">
        <h2 class="text-center mb-4"> Our Terms and Conditions</h2>
          <div class="terms-content" >
            <h2 class="fs-2 ">Introduction</h2>
            <p class="fs-5 m-3">
                  Welcome to Lovely Professional University. These terms and conditions outline the rules and regulations for the use of Lovely Professional University's Website, located at lpu.co.in
              </p>


              <p class="fs-2 mb-3 mt-3">
                  You are specifically agree from all of the following undertakings:
              </p>
              <ul>
                <li> 
                <!--  <span class="badge bg-info text-dark m-1 p-1 fs-5" style="background: #ff9219 !important;"></span>-->

                  We agree to acknowledge CIF, LPU in our publications and thesis if the results from CIF instrumentation are
                  incorporated/used in them. </li>
                  <li> I/We undertake to abide by the safety, standard sample preparation guidelines and precautions during testing of
                    samples. </li>
                  <li> I/We do understand the possibility of samples getting damaged during handling and analysis. I/We shall not claim
                    for any loss/damage of the sample submitted to CIF and agreed to resubmit the new sample requested by CIF for
                    analysis.</li>
                  <li> CIF, LPU reserves the rights to return the samples without performing analysis and will refund the analytical
                    charges (after deduction of GST, if applicable) under special circumstances. </li>
                  <li> I/we do agree to maintain the decorum during the visit in CIF labs for sample analysis and fully agreed that CIF
                    has full right to take action, if decorum of CIF’s labs functionality is disturbed/hampered by me. </li>
                  <li> CIF shall not take any responsibility about the analysis, interpretation and publication of data acquired by the
                    end user.</li>
                 
                  <li> I/We hereby declare that the results of the analysis will not be used for the settlement of any legal issue.
              </ul>

           
          </div>
      </div>
</div>
</section>