<app-cif-menu-bar></app-cif-menu-bar>
<!-- <div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="loader-spinner"></div>
    <div class="loader-text">Loading, please wait...</div>
</div> -->
<div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="custom-spinner-overlay" *ngIf="loadingIndicator">
        <div class="custom-spinner-content text-center">
            <img src="assets/images/spinner.gif" alt="Loading..." />
           <!-- <p>Loading...</p>-->
        </div>
    </div>
</div>

<div class="floating-cart" *ngIf="Datagrid.length > 0">
    <div class="cart-content" (click)="goToDetails()">
        <i class="mdi mdi-cart"></i>
        <span class="cart-text">Tests Added: {{ Datagrid.length }}</span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="row mt-3 mb-3">
            <div class="col-md-12">
                <h2> New Test Booking Form</h2>
            </div>
        </div>
        <div class="container-fluid mb-4 rounded border border-primary">
            <div class="card-body p-3 p-sm-4">
                <h3 class="m-2 fs-5 fs-sm-3">Instruments Under Maintenance:</h3>

                <div *ngIf="InstrumentDataInactive.length>0; else NoInstrument">
                    <span *ngFor="let banner of InstrumentDataInactive"
                        class="badge text-bg-warning fs-6 fs-sm-5 me-1 badge-wrap">
                        {{ banner.instrumentName }}
                    </span>

                </div>
                <ng-template #NoInstrument>
                    <h2 class="badge text-bg-warning fs-6 fs-sm-5 me-1 badge-wrap">
                        No Instrument is under Maintenance
                    </h2>
                </ng-template>
            </div>
        </div>
    </div>
</div>

<div class="container vh-sm-280 bottomMargin rounded border border-primary">
    <div *ngIf="currentStep === 1">

        <div class="row">
            <form [formGroup]="formdata" (ngSubmit)="Addtogrid()">
                <div class="row p-3" *ngFor="let row of rows; let i = index">
                    <div class="col-md-3 col-sm-6 mt-2">
                        <label class="">Instrument Name:</label>
                        <select class="form-select" (change)="getAllAnalysis($event)" formControlName="InstrumentName">
                            <option value="Select" selected>Select Instrument</option>
                            <option [value]="dropDown.instrumentId + '-' + dropDown.instrumentName"
                                *ngFor="let dropDown of InstrumentData">
                                {{dropDown.instrumentName}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 mt-2">
                        <label class="form-label">Analysis Type:</label>
                        <select class="form-select" formControlName="AnalysisId" (change)="setAnalysisId($event)">
                            <option value="Select">Select Analysis Type</option>
                            <option [value]="dropDownA.analysisId" *ngFor="let dropDownA of AnalysisData">
                                {{dropDownA.analysisType}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2">
                        <label class="form-label">Duration:</label>
                        <select class="form-select" formControlName="Duration" (change)="getPrice($event)">
                            <option value="Select">Select Duration</option>
                            <option *ngFor="let dropDownD of InstrumentsDuration" [value]="dropDownD.analysisId">
                                {{dropDownD.typeName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2" style="display:none;">
                        <label class="form-label">Analysis Charges:</label>
                        <input type="text" class="form-control" id="PriceValue" name="PriceValue"
                            formControlName="Charges" [(ngModel)]="PriceValue" readonly>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2">
                        <label class="form-label">Sample Count:</label>
                        <input type="number" class="form-control" id="NumberOfSamples" [(ngModel)]="NumberOfSamples"
                            formControlName="NoOfSample" (change)="calculateAmount()" placeholder="Enter No. of Sample">
                    </div>
                    <div class="col-md-2 col-sm-6 mt-2 ">
                        <label class="form-label">Total Amount:</label>
                        <input type="number" class="form-control" formControlName="TotalAmount" id="totalAmount"
                            [(ngModel)]="totalAmount" readonly>
                    </div>

                    <div class="col-md-3 col-sm-6 mt-5">
                        <label class="form-label">Specific Parameters for Test(s):</label><br>
                        <textarea cols="15" class="form-control" formControlName="Remarks" id="Remarks"
                            [(ngModel)]="Remarks" required></textarea>

                    </div>
                    <div class="col-md-3 col-sm-6 mt-5">
                        <label class="form-label">Upload sample File For Parametes</label><br>
                        <input class="form-control" required type="file" id="File" formControlName="ExcelData"
                            (change)="onFileSelected($event)" accept=".xls, .xlsx" #fileInput />
                        <label class="form-label text-success"> {{this.Message.length>0? this.Message :
                            ''}}</label>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-5">
                        <label class="form-label">Parameters sample File</label><br>
                        <a (click)="testClick(this.InstrumentId)" class="btn btn-dark">Download Format</a>
                    </div>

                    <div class="col-md-2 col-sm-6 mt-5">
                        <label class="form-label">Add Current Instrument</label><br>
                        <button type="button" class="btn btn-dark me-3" (click)="Addtogrid()"
                            [disabled]="formdata.invalid">
                            Add to Bucket
                        </button>
                    </div>
                    <div class="col-md-2 col-sm-6 mt-5">
                        <label class="form-label"></label><br>
                        <button type="button" class=" btn-dark btn" (click)="goToNextStep()"
                            [disabled]="Datagrid.length == 0">Next Step</button>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-sm-12 text-center">
                    <!-- <button type="button" class="btn btn-dark" (click)="goToNextStep()" [disabled]="Datagrid.length == 0">Next Step</button> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="currentStep === 2">
        <div class="container-fluid">
            <div class="mt-1 mb-1 row d-flex justify-content-center">
                <div class="col-md-12 text-center">
                    <h4 class="fs-4">Test Requests Details</h4>
                </div>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>AnalysisId</th>
                        <th>InstrumentId</th>
                        <th>InstrumentName</th>
                        <th>Price Value</th>
                        <th>Number Of Samples</th>
                        <th>Total Amount</th>
                        <th>Specific Parameters Required</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of Datagrid; let i = index">
                        <td>{{item.analysisId}}</td>
                        <td>{{item.instrument}}</td>
                        <td>{{item.instrumentName}}</td>
                        <td>{{item.PriceValue}}</td>
                        <td>{{item.NumberOfSamples}}</td>
                        <td>{{item.totalAmount}}</td>
                        <td>{{item.Remarks}}</td>
                        <td><button type="button" class="buttonx btn btn-lg" (click)="deleteEntry(i)"><i
                                    class="mdi fs-4 mdi-minus"></i></button></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-end"><strong>Total Payment:</strong></td>
                        <td colspan="4">{{getTotalPayment() | currency:'INR':'symbol'}}</td>
                    </tr>
                </tfoot>
            </table>
            <div class="row">
                <div class="col-sm-12 mt-2 text-center">
                    <button type="button" class="btn btn-secondary me-3" (click)="prevStep()">Back</button>
                    <!-- <button type="button" class="me-2 btn btn-primary" [disabled]="Datagrid.length == 0"
                            (click)="saveAllRecords()">Save All Records</button> -->
                    <button type="button" class="me-2 btn btn-dark text-end" [disabled]="Datagrid.length == 0"
                        (click)="goToNextStep()">Proceed Next </button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="currentStep === 3">

        <div class="modal-body">

            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-4">
                            <div class="col-sm">
                                <table id="dataTableAllClosedRemarks" class="table">
                                    <thead>
                                        <tr>
                                            <th>AnalysisId</th>
                                            <th>Name</th>
                                            <th>InstrumentId</th>
                                            <th>Price Value</th>
                                            <th>Number Of Samples</th>
                                            <th>Total Amount</th>
                                            <th>Specific Parameters Required</th>
                                            <th>MobileNo</th>
                                            <!-- <th>Action</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of Datagrid; let i = index">
                                            <td>{{item.analysisId}}</td>
                                            <td>{{this.candidateName}}</td>
                                            <td>{{item.instrument}}</td>
                                            <td>{{item.PriceValue}}</td>
                                            <td>{{item.NumberOfSamples}}</td>
                                            <td>{{item.totalAmount | currency:'INR':'symbol'}} </td>
                                            <td>{{item.Remarks}}</td>
                                            <td>{{this.MobileNo}}</td>
                                            <!-- <td><button type="submit" class="btn btn-dark me-2"
                                                        (click)="VerifyData(item);">Confirm and Pay</button></td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">

                                    <div class="col-sm-12 mt-2 text-end">
                                        <button type="button" class="btn btn-secondary me-3"
                                            (click)="prevStep()">Back</button>
                                        <button type="button" class="me-2 btn btn-primary"
                                            [disabled]="Datagrid.length == 0" (click)="saveAllRecords()">Save
                                            Tests</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>