<app-StaffMenu></app-StaffMenu>
<div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="loader-spinner"></div>
    <div class="loader-text">Loading, please wait...</div>
</div>
<div class="card">
    <div class="card-body">
        <hr />
        <div class="d-flex justify-content-center">
            <div class="row"><Label class="fs-2 "> Upload Result Page </Label>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="row" *ngIf="NoResults!='No Details' ;else NoData">
    <div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark "
                                [disabled]="NoResults=='No Details'">Export to
                                Excel</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3 text-center">
                            <Label class="fs-5">Select Filter</Label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <ng-select [(ngModel)]="selectedStatus" (change)="filterData()" [items]="statusOptions"
                            bindLabel="label" bindValue="value" placeholder="-- Select Payment Type --" class="w-100">
                            <ng-template ng-option-tmp let-item="item">
                                  <span *ngIf="item.value === ''"  >-- All Payments --</span>
                                <span *ngIf="item.value === 'success'" >Paid Payments</span>
                                <span *ngIf="item.value === 'failure'" >Failed Payments</span>
                                <span *ngIf="item.value === 'null'" >Pending Payments</span>
                            </ng-template>
                            <ng-template ng-label-tmp let-item="item">
                                  <span *ngIf="item.value === ''" >-- All Payments --</span>
                                <span *ngIf="item.value === 'success'" >Paid Payments</span>
                                <span *ngIf="item.value === 'failure'" >Failed Payments</span>
                                <span *ngIf="item.value === 'null'" >Pending Payments</span>
                            </ng-template>
                        </ng-select>
                    </div>
                    <div class="col-sm-3 mb-4 ">
                        <input [(ngModel)]="searchQuery" (keyup)="search()" [disabled]="NoResults=='No Details'"
                            id="search" type="text" class="form-control" placeholder="Search" aria-label="Search"
                            aria-describedby="basic-addon1" />
                    </div>
                    <hr />
                </div>
                <hr />
                <ng-container *ngIf="tmpsBookingData?.length > 0; else noRecords">
                    <div class="table-responsive mt-4 mb-4">
                        <table id="BookingDetailsDataTable" #table>
                            <thead>
                             
                                <tr>
                                    <th class="form-label fw-bolder">Booking Id</th>
                                    <th class="form-label fw-bolder">Instrument Name</th>
                                    <th class="form-label fw-bolder">Sample Count</th>
                                    <th class="form-label fw-bolder">Total Charges </th>
                                    <th class="fw-bold fw-bolder">Request Sheet</th>
                                    <th class="form-label fw-bolder">Candidate Id</th>
                                    <th class="form-label fw-bolder">Candidate Name</th>
                                    <th class="form-label fw-bolder">Organisation Name</th>
                                    <th class="form-label fw-bolder">User Type</th>
                                    <th class="form-label fw-bolder">Payment Status</th>
                                    <th class="form-label fw-bolder">Payment Date</th>
                                    <th class="form-label fw-bolder">Action </th>
                                </tr>
                            </thead>
                            <tbody>                             
                                <ng-container *ngFor="let AllBookingTestsDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.bookingId}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.instrumentName}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.noOfSamples}}</td>
                                        <td class="fw-bold"> {{AllBookingTestsDataRow?.totalCharges &&
                                            AllBookingTestsDataRow?.totalCharges!='null'
                                            ? (AllBookingTestsDataRow?.totalCharges | currency:'INR':'symbol'): 'NA'}}
                                        </td>
                                        <ng-container *ngIf="AllBookingTestsDataRow.fileName; else NoFile">
                                            <td>
                                                <button class="btn-dark btn ms-3"
                                                    (click)="downloadFile(AllBookingTestsDataRow.fileName)">
                                                    View
                                                </button>
                                            </td>
                                        </ng-container>
                                        <ng-template #NoFile>
                                            <td class="ms-4">
                                                <span class="badge text-bg-info ms-3 fs-5 "> N/A </span>
                                            </td>
                                        </ng-template>
                                        <!-- <td class="fw-bold ">{{AllBookingTestsDataRow.bookingRequestDate }}</td> -->
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.userEmailId?.length>0 ? AllBookingTestsDataRow.userEmailId : 'Internal User' }}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.candidateName?.length<1 ? 'Internal User' : AllBookingTestsDataRow.candidateName }}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.organisationName?.length<1 ? 'Internal User' : AllBookingTestsDataRow.organisationName}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.userRole=='Guest User '? 'Internal User' : AllBookingTestsDataRow.userRole}}</td>
                                        <td>
                                            <span class="badge" [ngClass]="{'bg-success': AllBookingTestsDataRow?.paymentStatus == 'success', 'bg-danger': AllBookingTestsDataRow?.paymentStatus == 'failure', 'bg-warning text-dark': !AllBookingTestsDataRow?.paymentStatus || AllBookingTestsDataRow?.paymentStatus == 'null' }">
                                                {{ AllBookingTestsDataRow?.paymentStatus == 'success' ? 'Paid' : AllBookingTestsDataRow?.paymentStatus == 'failure' ? 'Failed' : 'Pending' }}
                                            </span>
                                        </td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow?.paymentDate && AllBookingTestsDataRow?.paymentDate!='null' ? (AllBookingTestsDataRow?.paymentDate): '-NA-'}}
                                        </td>
                                        <td class="fw-bold"><button class="btn btn-dark btn-sm"
                                            (click)="openPaymentModal(AllBookingTestsDataRow)">Upload </button></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <a class="" (click)="prevPage()" [class.disabled]="currentPage === 1"> <i
                                    class="mdi mdi-chevron-left  fs-2"> </i> </a>
                            <span class="text-danger p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                            <a class="" (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()"><i
                                    class="mdi mdi-chevron-right  fs-2"> </i></a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <p class="fs-2 text-danger text-center ">No Data Available.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng-template #NoData>
    <div class="card">
        <div class="card-body">
            <div class="text-center ">
                <h3 class="text-center fs-2 m-5 text-danger pt-5 "> No Booking Assigned Yet ! </h3>
                <div class="row mt-4 mb-4">
                    <div class="col-sm-12 text-center">
                        <div class="mb-3 p-4">
                            <!-- <Label class="form-label fs-4 text-danger ">No Booking Found.</Label> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #viewDescModal2 let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Result Upload Screen </h5>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <table id="dataTableAllClosedRemarks" class="table">
                                <thead>
                                    <tr>
                                        <!-- <th class=" fs-5 ">User </th> -->
                                        <th class=" fs-5 ">Booking Id </th>
                                        <th class=" fs-5 ">Instrument Name </th>
                                        <th class=" fs-5 ">Upload File </th>
                                        <th class=" fs-5 ">Remarks (Any)</th>
                                        <th class=" fs-5 ">Upload Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.userEmailId != null || BookingCase.userEmailId !== 'undefined' ? BookingCase.userEmailId: 'NA' }}</td> -->
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.bookingId}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.instrumentName}} </td>
                                        <td class=" fs-5 ">
                                            <input class="w-30" required type="file" id="File" name="File"
                                                (change)="onFileSelected($event)" accept=".zip, .7z, .rar"
                                                #fileInput="ngModel" ngModel />
                                            <div class="col- mt-2"><span class="themeClr"> Allowed Documents format Zip
                                                    and of Max size 5MB </span></div>

                                        </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">
                                            <textarea required name="remarks" [(ngModel)]="Remarks" rows="5" cols="30"
                                                class="col-12 p-2 form-control" id="remarks" #remarks="ngModel"
                                                autocomplete="off">
                                           </textarea>
                                        </td>
                                        <td><button type="submit" class="btn btn-primary me-2"
                                                [disabled]="this.fileStatus==false "
                                                (click)="VerifyData(BookingCase);">Upload Result</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>