<app-AdminDashboard></app-AdminDashboard>
<div *ngIf="loadingIndicator" class="fullscreen-loader">
    <div class="loader-spinner"></div>
    <div class="loader-text">Loading, please wait...</div>
</div>
<div class="row" *ngIf="AllBookingTestsData.length > 0; else NoData">
    <div class="col-12 stretch-card">
        <div class="card">
            <hr />
            <div class="row d-flex justify-content-center">
                <h2 class="fs-1 text-center">Assign Test Page </h2>
            </div>
            <hr />
            <div class="card-body">
                <div class="row mt-4 mb-4">
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <button (click)="exportToExcel()" class="btn btn-dark"
                                [disabled]="tmpsAllBookingTestsData.length==0">Export to Excel</button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3 text-center">
                            <Label class="fs-5">Select Filter</Label>
                        </div>
                    </div>

                    <div class="col-sm-3">

                        <ng-select [(ngModel)]="selectedStatus" (change)="filterData()" [items]="statusOptions"
                            bindLabel="label" bindValue="value" placeholder="-- Select Status --" class="w-100">
                            <ng-template ng-option-tmp let-item="item">
                                <span *ngIf="item.value === ''" class="text-danger">-- All --</span>
                                <span *ngIf="item.value === 'success'" class="badge bg-success">Paid</span>
                                <span *ngIf="item.value === 'failure'" class="badge bg-danger">Failure</span>
                                <span *ngIf="item.value === 'null'" class="badge bg-warning text-dark">Pending</span>
                            </ng-template>

                            <ng-template ng-label-tmp let-item="item">
                                <span *ngIf="item.value === ''" class="text-danger">-- All --</span>
                                <span *ngIf="item.value === 'success'" class="badge bg-success">Success</span>
                                <span *ngIf="item.value === 'failure'" class="badge bg-danger">Failure</span>
                                <span *ngIf="item.value === 'null'" class="badge bg-warning text-dark">Pending</span>
                            </ng-template>
                        </ng-select>


                    </div>
                    <div class="col-sm-3 mb-4">
                        <input [(ngModel)]="searchQuery" (keyup)="search()" id="search" type="text" class="form-control"
                            placeholder="Search Your Text Here" aria-label="Search" aria-describedby="basic-addon1" />
                    </div>
                </div>
                <ng-container *ngIf="tmpsAllBookingTestsData.length > 0; else noRecords">
                    <div class="table-responsive mt-4 mb-4">
                        <table id="AdminAssignTest" #table>
                            <thead>
                                <!-- <tr>
                                    <th class="fw-bolder">Candidate Name</th>
                                    <th class="fw-bolder">Candidate Email</th>
                                    <th class="fw-bolder">Instrument Name</th>
                                    <th class="fw-bolder">Number of Samples</th>
                                    <th class="fw-bolder">Request Sheet</th>
                                    <th class="fw-bolder">Request Date</th>
                                    <th class="fw-bolder">Payment Status</th>
                                    <th class="fw-bolder">Amount</th>
                                    <th class="fw-bolder">Payment Date</th>
                                    <th class="fw-bolder">Assign Action</th>
                                </tr> -->
                                <tr>
                                    <th class="form-label fw-bolder">   Booking Id</th>
                                    <th class="form-label fw-bolder">   Instrument Name</th>
                                    <th class="form-label fw-bolder">   Sample Count</th>
                                    <th class="form-label fw-bolder">   Total Charges </th>
                                    <th class="fw-bold fw-bolder">      Request Sheet</th>
                                    <th class="form-label fw-bolder">   Request Date</th>
                                    <th class="form-label fw-bolder">   Candidate Id</th>
                                    <th class="form-label fw-bolder">   Candidate Name</th>
                                    <th class="form-label fw-bolder">   Organisation Name</th>
                                    <th class="form-label fw-bolder">   User Type</th>
                                    <th class="form-label fw-bolder">   Payment Status</th>
                                    <th class="form-label fw-bolder">   Payment Date</th>
                                    <th class="form-label fw-bolder">   Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let AllBookingTestsDataRow of getCurrentPageData(); let i = index">
                                    <tr>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.bookingId}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.instrumentName}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.noOfSamples}}</td>
                                        <td class="fw-bold"> {{AllBookingTestsDataRow?.totalCharges &&
                                            AllBookingTestsDataRow?.totalCharges!='null'
                                            ? (AllBookingTestsDataRow?.totalCharges | currency:'INR':'symbol'): 'NA'}}
                                        </td>
                                        <ng-container *ngIf="AllBookingTestsDataRow.fileName; else NoFile">
                                            <td>
                                                <button class="btn-dark btn ms-3"
                                                    (click)="downloadFile(AllBookingTestsDataRow.fileName)">
                                                    View
                                                </button>
                                            </td>
                                        </ng-container>
                                        <ng-template #NoFile>
                                            <td class="ms-4">
                                                <span class="badge text-bg-info ms-3 fs-5 "> N/A </span>
                                            </td>
                                        </ng-template>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.bookingRequestDate }}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.userEmailId?.length>0 ? AllBookingTestsDataRow.userEmailId : 'Internal User' }}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.candidateName?.length<1 ? 'Internal User' : AllBookingTestsDataRow.candidateName }}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.organisationName}}</td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow.userRole}}</td>
                                        <td>
                                            <span class="badge" [ngClass]="{'bg-success': AllBookingTestsDataRow?.paymentStatus == 'success', 'bg-danger': AllBookingTestsDataRow?.paymentStatus == 'failure', 'bg-warning text-dark': !AllBookingTestsDataRow?.paymentStatus || AllBookingTestsDataRow?.paymentStatus == 'null' }">
                                                {{ AllBookingTestsDataRow?.paymentStatus == 'success' ? 'Paid' : AllBookingTestsDataRow?.paymentStatus == 'failure' ? 'Failed' : 'Pending' }}
                                            </span>
                                        </td>
                                        <td class="fw-bold ">{{AllBookingTestsDataRow?.paymentDate && AllBookingTestsDataRow?.paymentDate!='null' ? (AllBookingTestsDataRow?.paymentDate): '-NA-'}}
                                        </td>
                                        <td class="fw-bold ">
                                            <!-- <button class="btn btn-dark" (click)="openPaymentModal(AllBookingTestsDataRow)">Assign</button> -->
                                            <button class="btn btn-dark"
                                                (click)="openPaymentModal(AllBookingTestsDataRow)"
                                                [disabled]="isAlreadyAssigned(AllBookingTestsDataRow)">
                                                Assign
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div class="pagination">
                            <a class="" (click)="prevPage()" [class.disabled]="currentPage === 1">
                                <i class="mdi mdi-chevron-left fs-2"></i>
                            </a>
                            <span class=" p-2">{{ currentPage }} / {{ getTotalPages() }}</span>
                            <a class="" (click)="nextPage()" [class.disabled]="currentPage === getTotalPages()">
                                <i class="mdi mdi-chevron-right fs-2"></i>
                            </a>
                        </div>
                    </div>
                </ng-container>
                <ng-template #noRecords>
                    <p class="fs-2  text-center">No Grid Data Available.</p>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng-template #NoData>
    <div class="card">
        <div class="card-body">
            <div class="text-center ">
                <h3 class="text-center fs-2 m-5  pt-5 "> No Record ! </h3>
                <div class="row mt-4 mb-4">
                    <div class="col-sm-12 text-center">
                        <div class="mb-3 p-4">
                            <Label class="fw-bold  fs-4  ">No Booking Found.</Label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #viewDescModal2 let-modal>
    <div class="modal-header">
        <h2 class="modal-title fs-2" id="exampleModalLabel">Assign Test </h2>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm">
                            <table id="dataTableAllClosedRemarks" class="table">
                                <thead>
                                    <tr>
                                        <!-- <th class=" fs-5 ">User </th> -->
                                        <th class=" fs-5 text-dark">Booking Id </th>
                                        <th class=" fs-5 text-dark">Instrument Name </th>
                                        <th class=" fs-5 text-dark">Assign To </th>
                                        <th class=" fs-5 text-dark"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!-- <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.userEmailId != null || BookingCase.userEmailId !== 'undefined' ? BookingCase.userEmailId: 'NA' }}</td> -->
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.bookingId}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">{{BookingCase.instrumentName}} </td>
                                        <td class=" fs-5 p-4 " style="width: 20%;">
                                            <!-- <select name="staffName" id="staffName" [(ngModel)]="AssignedTo" onchange="getAssignedTo()"> -->

                                            <select id="staffName" (change)="onActivitySelected($event)"
                                                class="col-12 p-2 form-control" required ngModel name="staffName"
                                                #AssignedTo="ngModel">
                                                <option value="" selected>Select Staff</option>
                                                <option *ngFor="let session of AllCifUserList" [value]="session.uid">
                                                    {{session.uiD_Name}} 
                                                </option>

                                            </select>

                                        </td>

                                        <td><button type="submit" class="btn btn-dark me-2"
                                                (click)="VerifyData(BookingCase);">Assign </button></td>
                                    </tr>
                                    <!-- </form> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>